fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
alembic
pydantic-settings
python-jose[cryptography]
passlib[bcrypt]
bcrypt==4.0.1
python-multipart
pandas>=2.0
numpy>=1.26
statsmodels>=0.14
google-ads==24.1.0
